<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614464391084-sg63j2pnkt3kat6fl6ck5g3i8u7n7ofv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614464391084-sg63j2pnkt3kat6fl6ck5g3i8u7n7ofv</string>
	<key>API_KEY</key>
	<string>AIzaSyAcYFWv2-UyHBJQL-wVZJ06FcUhXvayK7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>614464391084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thamora.Instagram-fireBase</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebasesms</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebasesms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614464391084:ios:ff9b6ff728756ec99cdc09</string>
	<key>DATABASE_URL</key>
	<string>https://instagramfirebasesms.firebaseio.com</string>
</dict>
</plist>